// переменные
$bg_color: #f3f3f3; // цвет фона
$link_color: #006f98; //цвет ссылок
$link_color2: #ff8315; // цвет ссылок

// GENERAL
body,h1,h2,h3,h4,h5,h6,p,ul,li {
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  background-color: $bg_color;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
}
li{
  list-style-type: none;
}
.ruble{
  font-family: 'ALSRubl-Arial', Arial, sans-serif;
  line-height: normal;
  font-weight: 100;
  font-size: 14px;
}
.container{
  width: 1040px;
  margin: 0 auto;
  //font-size:13px;
}
.content--container{
  font-size: 0;
}
a{
  transition: 0.2s;
}

// Подключаем примеси и остальные стили
@import 'mixins/mixins';
@import 'common/_navigation';
@import 'common/_header';
@import 'common/_sidebar';
@import 'common/_content';
@import 'common/footer';
