.footer--line
.footer
  ul.footer--list
    -var items = ['Услуги компании', "Доставка", "Оплата", "Полезные ссылки", "Контакты"]
    each item in items
      li.footer--item
        a(href='#').footer--link=item
  p.footer--copyright &copy; 2013 ООО "Мир стройки"
  p.footer--adress г.Ревда ул. О.Кошевого, 25, оф.10
  a(href='#').footer--logo
    img(src='./assets/img/flogo.png')
