.header--container
  .header--logo_container
    a(href='#').header--logo_link
      img(src='./assets/img/logo.png' alt='Logo').header--logo
  .header--phones
    .header--phones_descr Интернет-магазин
    .header--phones_number
      b (343) 111-22-32
  .header--phones
    .header--phones_descr Строительные услуги
    .header--phones_number
      b (343) 111-24-34
  .header--working_time
      .header--working_hourse Пн-Пт, 9:00-18:00
      a(href='#').header--working_callback Заказать обратный звонок
  .header--card
    .header--card_img_wrapper
      img(src='./assets/img/basket.png').header--card_img
    .header--busket_container
      a(href='#').header--card_link Корзина
      .header--card_span Товаров на сумму:
      .header--card_summ 23 000
 
 
