.content--goods
  .content--goods_sort
    span.content--goods_sort_span Сортировать по:  
    a(href='#').content--goods_sort_link.active названию
    a(href='#').content--goods_sort_link цене
  ul.content--goods_list
    li.content--goods_item
      .content--goods_img_container
        a(href='#').content--goods_img_wrapper
          img(src='./assets/img/img_1.png' alt='img').content--goods_img
      .content--goods_descr_container        
        a(href='#').content--goods_title Керамогранит Basic
        span.content--goods_price 508 рублей/м<sup>2</sup>
        a(href='#').content--goods_button
          .content--goods_button_img_wrapper 
            img(src='./assets/img/cart_img.png').content--goods_button_img
          span.content--goods_button_span В корзину
    li.content--goods_item
      .content--goods_img_container
        a(href='#').content--goods_img_wrapper
          img(src='./assets/img/img_2.png' alt='img').content--goods_img
      .content--goods_descr_container        
        a(href='#').content--goods_title Керамогранит Prestige
        span.content--goods_price 914 рублей/м<sup>2</sup> 
        a(href='#').content--goods_button
          .content--goods_button_img_wrapper 
            img(src='./assets/img/cart_img.png').content--goods_button_img
          span.content--goods_button_span В корзину          
    li.content--goods_item
      .content--goods_img_container
        a(href='#').content--goods_img_wrapper
          img(src='./assets/img/img_3.png' alt='img').content--goods_img
      .content--goods_descr_container        
        a(href='#').content--goods_title Керамогранит Kito 600 * 600
        span.content--goods_price 1300 рублей/м<sup>2</sup>
        a(href='#').content--goods_button
          .content--goods_button_img_wrapper 
            img(src='./assets/img/cart_img.png').content--goods_button_img
          span.content--goods_button_span В корзину
    li.content--goods_item
      .content--goods_img_container
        a(href='#').content--goods_img_wrapper
          img(src='./assets/img/img_4.png' alt='img').content--goods_img
      .content--goods_descr_container        
        a(href='#').content--goods_title Domino (Zeus)
        span.content--goods_price 305 рублей/м<sup>2</sup>
        a(href='#').content--goods_button
          .content--goods_button_img_wrapper 
            img(src='./assets/img/cart_img.png').content--goods_button_img
          span.content--goods_button_span В корзину 
    li.content--goods_item
      .content--goods_img_container
        a(href='#').content--goods_img_wrapper
          img(src='./assets/img/img_1.png' alt='img').content--goods_img
      .content--goods_descr_container        
        a(href='#').content--goods_title Керамогранит Basic
        span.content--goods_price 508 рублей/м<sup>2</sup>
        a(href='#').content--goods_button
          .content--goods_button_img_wrapper 
            img(src='./assets/img/cart_img.png').content--goods_button_img
          span.content--goods_button_span В корзину
    li.content--goods_item
      .content--goods_img_container
        a(href='#').content--goods_img_wrapper
          img(src='./assets/img/img_2.png' alt='img').content--goods_img
      .content--goods_descr_container        
        a(href='#').content--goods_title Керамогранит Prestige
        span.content--goods_price 508 рублей/м<sup>2</sup>
        a(href='#').content--goods_button
          .content--goods_button_img_wrapper 
            img(src='./assets/img/cart_img.png').content--goods_button_img
          span.content--goods_button_span В корзину          
    li.content--goods_item
      .content--goods_img_container
        a(href='#').content--goods_img_wrapper
          img(src='./assets/img/img_4.png' alt='img').content--goods_img
      .content--goods_descr_container        
        a(href='#').content--goods_title Dominj Zeus
        span.content--goods_price 508 рублей/м<sup>2</sup>
        a(href='#').content--goods_button
          .content--goods_button_img_wrapper 
            img(src='./assets/img/cart_img.png').content--goods_button_img
          span.content--goods_button_span В корзину
    li.content--goods_item
      .content--goods_img_container
        a(href='#').content--goods_img_wrapper
          img(src='./assets/img/img_3.png' alt='img').content--goods_img
      .content--goods_descr_container        
        a(href='#').content--goods_title Керамогранит Kito
        span.content--goods_price 508 рублей/м<sup>2</sup>
        a(href='#').content--goods_button
          .content--goods_button_img_wrapper 
            img(src='./assets/img/cart_img.png').content--goods_button_img
          span.content--goods_button_span В корзину     
