.content--search
  .content--input_container
    input(type='text' placeholder='Поиск').content--input_field
    button.content--input_button Найти 
  .content--athorisation
    a(href='#').content--athorisation_link Войти
    a(href='#').content--athorisation_link Зарегистрироваться
  span.content--span <i>Например:</i> плитка kerama marazzi
