.content--search
  .content--input_container
   form(action='#' method='get').content--form
     .content--input_field_container
       input(type='text' placeholder='Поиск' name='search').content--input_field
       input(type='submit' value='Найти').content--input_button
  .content--athorisation
    a(href='#').content--athorisation_link Войти
    a(href='#').content--athorisation_link Зарегистрироваться
  span.content--span <i>Например:</i> плитка kerama marazzi
 
