.content--pagination
  ul.content--pagination_list
    li.content--pagination_item
      a(href='#').content--pagination_link.active 1
    li.content--pagination_item
      a(href='#').content--pagination_link 2
    li.content--pagination_item
      a(href='#').content--pagination_link 3
    li.content--pagination_item
      a(href='#').content--pagination_link 4        
    li.content--pagination_item
      a(href='#').content--pagination_link 5
    li.content--pagination_item
      a(href='#').content--pagination_link 6
    li.content--pagination_item
      a(href='#').content--pagination_link 7
    li.content--pagination_item
      a(href='#').content--pagination_link 8        
