.sidebar--container
  .sidebar--inner_shadow
    .sidebar--header
      img(src='./assets/img/folder.png').sidebar--header_img
      h3.sidebar--header_title Каталог товаров
    .sidebar--menu
      ul.sidebar--menu_list
        -var items = ['Грунтовки',"Декоративные покрытия","Инструменты","Керамическая плитка , керамогранит","Кирпич, стеновые материалы", "Кровельный материал, гидроизоляция", "Лакокрасочная продукция", "Ленты, скотчи, серпянки","Листовой материал","Материал для фасадов","Металопрокат","Метизы, крепеж", "Напольные покрытия","Панели ПВХ, комплектующие","Пены монтажные, герметики","Пиломатериал", "Поликорбонат сотовый, типлицы", "Потолки и потолочные системы", "Сетки", "Строительные смеси", "Тара, упаковка", "Тепло-, шумоизоляция", "Теплые полы","Цемент, сыпучие материалы"]
        each item in items
          li.sidebar--menu_title
            a(href='#').sidebar--menu_link=item
.sidebar--looked
  h2.sidebar--looked_title Вы смотрели
  ul.sidebar--looked_list
    li.sidebar--looked_item
      .sidebar--looked_img_container
        img(src='./assets/img/img_1.png').sidebar--looked_img
      a(href='#').sidebar--looked_title_link Керамогранит Basic
      span.sidebar--looked_price  508 рублей/м<sup>2</sup>
      a(href='#').sidebar--looked_link Добавить в корзину
    li.sidebar--looked_item
      .sidebar--looked_img_container
        img(src='./assets/img/img_2.png').sidebar--looked_img
      a(href='#').sidebar--looked_title_link Керамогранит Prestige
      span.sidebar--looked_price  914 рублей/м<sup>2</sup>
      a(href='#').sidebar--looked_link Добавить в корзину
    li.sidebar--looked_item
      .sidebar--looked_img_container
        img(src='./assets/img/img_3.png').sidebar--looked_img
      a(href='#').sidebar--looked_title_link Керамогранит Kito 600 * 600
      span.sidebar--looked_price  1300 рублей/м<sup>2</sup>
      a(href='#').sidebar--looked_link Добавить в корзину
.sidebar--social
  h2.sidebar--social_title Мы в соц. сетях
  ul.sidebar--social_list
    -var socials = ['fb.png', 'google.png', 'twitter.png', 'vk.png'];
    each social in socials
      li.sidebar--social_item
        a(href='#').sidebar--social_link
          img(src=`./assets/img/${social}`).sidebar--social_img
    
