
.header--container{
  padding-top: 10px;
  margin-bottom: 12px;
  position: relative;
}
.header--logo_container{
  display: inline-block;
  position: relative;
  width: 210px;
  height: 50px;
  margin-left: 40px;
  margin-right: 10px;
}
.header--logo_link{
  display: block;
  position: absolute;
  top: 10px;
}

.header--phones, .header--working_time, .header--card{
  display: inline-block;
}
.header--logo{
  width: 100%;
  height: auto;
}
.header--phones{
  width: 145px;
}
.header--phones_descr{
  width: 145px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header--phones, .header--working_time{
  padding: 6px;
  margin-left:13px;
}
.header--phones_number{
  font-size: 19px;
}
.header--working_callback{
  display: block;
  color: $link_color;
  margin-top: 5px;
  text-decoration: none;
  border-bottom: 1px dashed $link_color;
  transition: 0.2s;
  &:hover{
    color:$link_color2;
    border-bottom: 1px dashed $link_color2;
  }
}
.header--card{
  padding: 6px;
  margin-left: 61px;
  margin-bottom: -10px;
  position: absolute;
  //top: 20px;
  bottom: 0;
}
.header--card_img_wrapper{
  width: 25px;
  height: 25px;
  float: left;
  margin-bottom: 20px;
  margin-right:  14px;
}
.header--card_img{
  width: 100%;
  height: auto;
}
.header--busket_container{
  width: 150px;
}
.header--card_link{
  color: $link_color2;
  font-weight: bold;
  transition: 0.2s;
  &:hover{
    color:$link_color;
  }
}
.header--card_span{
  font-size: 12px;
  margin-top: 7px;
}
