.sidebar{
  width: 240px;
  margin-top: 25px;
  margin-left: 38px;
  border-top-left-radius: 7px;
  display: inline-block;
  font-size: 12px;

}
.sidebar--container{
  background-color: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0px 4px 4px -2px #aeaeae;
  behavior:url('/assets/js/PIE.htc');
}
.sidebar--inner_shadow{
  padding-top: 6px;
  padding-bottom: 12px;
  box-shadow: inset  -10px 0px 50px -10px #e4eced;
  behavior:url('/assets/js/PIE.htc');
}
.sidebar--header{
  margin-top: 12px;
  margin-left: 24px;
  margin-bottom: 8px;
}
.sidebar--header_title{
  font-size: 17px;
  font-weight: bold;
}
.sidebar--header_img{
  float: left;
  margin-right:10px;
}
.sidebar--menu{
  border-top: 5px solid #ffd8b6;
  padding-top: 5px;
}
.sidebar--menu_link{
  display: block;
  color: $link_color;
  padding-left: 23px;
  padding-top: 7.5px;
  padding-bottom: 8px;
  transition: 0.2s;
  font-size: 13px;
  text-shadow: 1px 0px 1px #bbd9e4;
  behavior:url('/assets/js/PIE.htc');
  &:hover{
    background: #eff4f5;
    color: #000;
    text-decoration: none;
  }
}

// see ealier
.sidebar--looked{
  margin-top: 27px;
  padding: 0 23px;
}
.sidebar--looked_title{
  font-size: 17px;
  margin-top: -2px;
}
.sidebar--looked_list{
  margin-top: 13px;
}
.sidebar--looked_item{
  //border: 1px solid #000;
  min-height: 62px;
  position: relative;
  margin-bottom: 30px;
  font-size: 0;
}
.sidebar--looked_img_container, .sidebar--looked_content_container{
  display: inline-block;
  font-size: 12px;
}
.sidebar--looked_content_container{
  //width: 160px;
  //float: right;
  vertical-align: top;
  font-size: 13px;
}
.sidebar--looked_img_container{
  width: 50px;
  height: 50px;
  //float: left;
  font-size: 12px;
  margin-right: 9px;
  overflow: hidden;
}
.sidebar--looked_img{
  width: 100%;
  box-shadow: 0 10px 35px -15px #000;
  behavior:url('/assets/js/PIE.htc');
  zoom:1;
}
.sidebar--looked_title_link{
  color: $link_color;
  max-height: 30px;
  display: block;
  width: 125px;
  overflow: hidden;
  //position: absolute;
  &:hover{
    color: $link_color2;
  }
}
.sidebar--looked_price{
  //position: absolute;
  display: block;
  //margin-top: 27px;
  //margin-left: 60px;
  margin-top: 13px;
  margin-bottom: 7px;
  width: 125px;
  height: 13px;
  overflow: hidden;
}
.sidebar--looked_link{
  //position: absolute;
  bottom: 0;
  right: 0;
  color: $link_color2;
  text-decoration: none;
  border-bottom: 1px dashed $link_color2;
  margin-right: 21px;
  &:hover{
    color: $link_color;
    border-bottom: 1px dashed $link_color;
  }
}
.sidebar--social{
  margin-top: 60px;
  padding-left:23px;
}
.sidebar--social_title{
  margin-left: 2px;
  margin-top: -2px;
}
.sidebar--social_list{
  margin-top: 10px;
  margin-left: -10px;
}
.sidebar--social_item{
  display: inline-block;
  margin-right: 4px;
}
.sidebar--social_link{
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
