.content--brands{
  position: absolute;
  background:#fff;
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-left: 20px;
  border-radius: 4px;
  display: none;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
  behavior:url('./assets/js/PIE.htc');
  z-index: 100;
}
.content--brands_list{
  width: 130px;
}
.content--brands_item{
  margin: 14px 0;
}
.content--brands_link{
  color: $link_color2;
  padding: 4px 7px;
  &:hover{
    color: $link_color;
  }
}
