.content--goods{
  background-color: #fff;
  padding: 20px 15px;
  padding-bottom: 5px;
  box-shadow: 0 20px 30px -15px #c3c3c3;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  behavior: url('./assets/js/PIE.htc');
  @include mobile{
    padding: 0;
    padding:20px 0;
  };
}
.content--goods_sort{
  padding-bottom: 5px;
  border-bottom: 1px solid #888888;
}
.content--goods_sort_span{
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
  //margin-left: 13px;
}
.content--goods_sort_link{
  display: inline-block;
  padding: 4px 7px;
  margin-left: 10px;
  font-size: 13px;
  text-decoration: dashed;
  color: $link_color2;
  border-bottom: 1px dashed $link_color2;
  &:hover{
    color: $link_color;
    border-bottom: 1px dashed $link_color;
  }
}
.content--goods_sort_link.active{
  padding: 4px 7px;
  background-color: $link_color2;
  color: #fff;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px #bd6210;
  border-bottom:1px solid transparent;
}
.content--goods_list{
  //margin: 12px;
  //margin-top: 25px;
  font-size: 0;
  width: 100%;
  padding-left: 5px;
  //column-count: 2;
  //column-gap: 25px;
  @include laptop{
    padding-left:0;
    width: 95%;
    margin: 0 auto;
  };
}
.content--goods_list > * {
    font-size: 14px;
}

.content--goods_item{
  width: 49.8%;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding-right: 10px;
  //padding-left: 5px;
  vertical-align: top;
  margin: 20px 0;
  &:nth-child(even){
    padding-left: 10px;
  }
  @include tablet{
    display: block;
    width: 90%;
    &:nth-child(even){
      padding-left: 0;
    }
  };
  @include laptop{
    width: 100%;
    &:nth-child(even){
      padding-left: 0;
      padding-right: 0;
    }
  };
}
.content--goods_img_container{
  //float: left;
  height: 100px;
  width: 100px;
  box-shadow: 0 12px 13px -8px #c3c3c3;
  margin-right: 20px;
  overflow: hidden;
  display: inline-block;
}
.content--goods_descr_container {
  display: inline-block;
  width: 60%;
  height: 100px;
  position: relative;
  vertical-align: top;
}
.content--goods_img{
  width: 100%;
  height: 100%;
}
.content--goods_button, .content--goods_price {
  display: block;
}
.content--goods_title{
  font-size: 17px;
  color: #000;
  max-height: 36px;
  display: block;
  overflow-y: hidden;
  font-weight: bold;
  //position: absolute;
  &:hover{
    color: $link_color2;
  }
}
.content--goods_price{
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content--goods_button{
  position: absolute;
  bottom: 0;
  // left: 120px;
  padding: 9px 6px;
  width: 105px;
  -pie-background: linear-gradient(90deg, #ff5e0f, #ffc825);
  background: linear-gradient(0deg, #ff5e0f, #ffc825);
  background: -webkit-linear-gradient(90deg, #ff5e0f, #ffc825);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
  margin-right: 100px;
  box-shadow: 0px 3px 4px -3px #74797f;
  behavior: url('./assets/js/PIE.htc');
  zoom:1;
  &:hover{
    background: #ffa95d;
    //background: -webkit-linear-gradient(90deg, #ecb000, #d64c08);
    -pie-background:#ffa95d;
  }
}
.content--goods_button_img_wrapper {
  margin-right: 10px;
  position: absolute;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.content--goods_button_img{
  width: 100%;
  height: auto;
}
.content--goods_button_span{
  //margin-top: -7px;
  margin-left: 30px;
}
