.content--text_column{
  height: 100%;
  column-count: 2
}
.content--text_title{
  margin-bottom: 20px;
  font-size: 21px;
}
.content--text{
  margin-top: 45px;
  padding-left: 25px;
  height: 215px;
  //padding-bottom: 60px;
}
.content--text_paragraph{
  font-size: 14px;
  line-height: 1.5;
}
