.content--text_column{
  height: 100%;
  column-count: 2;
  @include mobile{
    column-count: 1
  };
}
.content--text_title{
  margin-bottom: 15px;
  font-size: 21px;
}
.content--text{
  margin-top: 40px;
  padding-left: 20px;
  //height: 215px;
  //padding-bottom: 60px;
}
.content--text_paragraph{
  font-size: 14px;
  line-height: 1.5;
}
