.content--search{
  min-height: 70px;
  background: #fbeea9;
  padding:20px;
  position: relative;
}
.content--input_container{
  //float: left;
  margin-right: 28px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.content--input_field_container{
  width: 500px;
  padding: 11px 9px;
  position: relative;
  border: none;
  border-radius: 3px;
  box-shadow: inset 1px 1px 10px #b1afaf;
  color: #c9c8c8;
  font-size: 15px;
  font-style: italic;
  background: #fff;
  behavior: url('../js/PIE.htc');
  zoom:1;
}
.content--input_field{
  height: 90%;
  border: none;
  background: transparent;
  width: 85%;
  outline: none;
}
.content--input_field::placeholder{
  font-style: italic;
  font-family: 'PT Sans',sans-serif;
}
.content--input_button{
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'PT Sans';
  margin-right: 5px;
  margin-top: 7px;
  padding: 6px 17px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  -pie-background:linear-gradient(90deg, #ff5e0f, #ffc825);
  background: linear-gradient(0deg, #ff5e0f, #ffc825);
  background: -webkit-linear-gradient(90deg, #ff5e0f, #ffc825);
  behavior: url('../js/PIE.htc');
  zoom:1;
  transition: 0.2s;
  &:hover{
    cursor: pointer;
    -pie-background:linear-gradient(90deg, #ecb000, #d64c08);
    background: linear-gradient(0deg, #ecb000, #d64c08);
  }
}
.content--athorisation{
  width: 120px;
  //position: absolute;
  //right: 20px;
  //top: 20px;
  overflow: hidden;
  display: inline-block;
}
.content--athorisation_link{
  display: block;
  color: #000;
  font-size: 12px;
  font-style: italic;
  padding-top: 7px;
  &:hover{
    color: $link_color2;
  }
}
.content--span{
  display: inline-block;
//  clear: left;
  margin-top: 17px;
}
