.content--text_column{
  height: 100%;
  column-count: 2
}
.content--text_title{
  margin-bottom: 30px;
}
.content--text{
  margin-top: 28px;
  padding-left: 25px;
  height: 215px;
  //padding-bottom: 60px;
}
