.content--breadcrumbs{
  background: #fff;
  //padding: 15px 0;
  height: 50px;
  vertical-align: middle;
  padding-left: 20px;
  position: relative;
}
.content--breadcrumbs_link_container{
  @include centred(y);
}
.content--breadcrumbs_link{
  color:#666666;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  border-bottom: 1px solid #666666;
  &:hover{
    color: $link_color;
    border-bottom: 1px solid $link_color;
  }
}
.content--breadcrumbs_link.active{
  text-decoration: none;
  margin-left: 4px;
  border-bottom: none;
  &:hover{
    color: $link_color;
  }
}
