.content--filter{
  background: #fbf8e8;
  padding-top: 25px;
  //padding-bottom: 10px;
}
.content--filter_title{
  padding-left: 30px;
  font-size: 17px;
  font-weight: bolder;
}
.content--filter_item_input_wrapper{
  position: relative;
  padding-top:30px;
  margin-top: -15px;
  margin-left:10px;
}
.content--fliter_price_container1,.content--fliter_price_container2{
  display: inline-block;
  position: absolute;
  top:-23px;
  width: 50px;
  outline:0;
  padding: 0;
  margin:0;
  margin-left: -15px;
  text-align: center;
}
.content--fliter_price_container1{
  margin-left: -18px;
}

.content--filter_item_val_container1, .content--filter_item_val_container2{
  //width: 32px;
  //height: 20px;
  display: inline-block;
  border: none;
  //background:#fbf8e8;
  text-align: right;
  font-family: 'PT_Sans', sans-serif;
  font-size: 13px;
  &:after{
    content: ' ';
    display: inline-block;
    width: 2px;
    height: 2px;
  }
}

.content--filter_item_val_container2{
  right: 0;
}
// price filter
.content--filter_item_conteiner{
  position: relative;
}
.content--filter_item_descr{
  position: absolute;
  //height: 40px;
  top:-4px;
  width: 256px;
  margin-left: 40px;
}
// end price filter
.content--filter_item_input{
  width: 70px;
  height: 30px;
  border: none;
  box-shadow: inset 0px 0px 10px #C3C3C2;
  border-radius: 2px;
  padding-left: 10px;
  vertical-align: middle;
  behavior:url('./assets/js/PIE.htc');
  zoome:1;
  position: relative;
}
.content--filter_item_span{
  display: inline-block;
  width: 25px;
  position: relative;

  &:after{
    content: '';
    display: block;
    position: absolute;
    width: 9px;
    height: 2px;
    background: #000;
    margin: 0 13px;
    margin-top: -3px;
  }
}
.content--filter_item_size{
  margin-left: 90px;
  margin-top: -12px;
}
.content--filter_list{
  margin-top: 13px;
  font-size: 0;
  padding-left: 13px;
}
.content--filter_item{
  display: inline-block;
  width: 49.5%;
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 12px;
  padding: 14px 0;
  padding-left:15px;
  margin-bottom: 1px;
}
.content--filter_item_title{
  //float: left;
  font-family: 'PT_Sans_Bold', sans-serif;
  //font-weight: bold;
  display: inline-block;
  font-weight: bolder;
  margin-right: 15px;
  max-width: 30%;
}
.content--filter_item_link{
  color: $link_color2;
  text-decoration: none;
  font-size: 13px;
  border-bottom: 1px dashed $link_color2;
  &:hover{
    color:$link_color;
    border-bottom: 1px dashed $bg_color;
  }
}
.content--filter_button_section{
  position: relative;
  border-top: 2px solid #fff;
  background: #fbf5d3;
  padding: 15px 25px;
  vertical-align: middle;
  z-index: 1;
  &:after{
    content: '';
    width: 92%;
    display: block;
    height: 54px;
    margin: 0 auto;
    box-shadow: 0 20px 30px -15px #c3c3c3;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}
.content--input_button-filter_button{
  position: relative;
  margin-right: 15px;
  padding: 9px 17px;
  margin-top: 0;
  box-shadow: 0px 1px 2px #c2bda3;
}
.content--button_span{
  display: inline-block;
  font-size: 13px;
  width: 70%;
  overflow: hidden;
}
.content--filter_item_link-remove{
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 40px;
  margin-top: 22px;
}

// popup
.content--filter_popup{
  width: 500px;
  height: 100px;
  z-index: 100;
  text-align: center;
  vertical-align: middle;
  padding-top: 100px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 3px 3px 13px #C3C3C2;
  behavior:url('./assets/js/PIE.htc');
  @include centred();
  display: none;
}
