.content--search{
  height: 70px;
  background: #fbeea9;
  padding: 22px;
  position: relative;
}
.content--input_container{
  //float: left;
  margin-right: 28px;
  position: relative;
}
.content--input_field_container{
  width: 500px;
  padding: 13px 10px;
  position: relative;
  border: none;
  border-radius: 3px;
  box-shadow: inset 1px 1px 10px #b1afaf;
  color: #c9c8c8;
  font-size: 15px;
  font-style: italic;
  background: #fff;
  behavior: url('/assets/js/PIE.htc');
  zoom:1;
}
.content--input_field{
  height: 90%;
  border: none;
  background: transparent;
  width: 80%;
  outline: none;
}
.content--input_button{
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 5px;
  margin-top: 7px;
  padding: 7px 17px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  -pie-background:linear-gradient(90deg, #ff5e0f, #ffc825);
  background: linear-gradient(0deg, #ff5e0f, #ffc825);
  behavior: url('/assets/js/PIE.htc');
  zoom:1;
  &:hover{
    cursor: pointer;
  }
}
.content--athorisation{
  width: 130px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
}
.content--athorisation_link{
  display: block;
  color: #000;
  font-size: 12px;
  font-style: italic;
  padding-top: 7px;
  &:hover{
    color: $link_color2;
  }
}
.content--span{
  display: inline-block;
//  clear: left;
  margin-top: 17px;
}
