.content--pagination{
  margin-top: -12px;
}
.content--pagination_list{
  margin-left: 47.4%;
}
.content--pagination_item{
  display: inline-block;
  text-align: center;
}
.content--pagination_link{
  display: block;
  padding: 10px 10px;
  width: 100%;
  height: 100%;
  width: 15px;
  color: $link_color;
  &:hover{
    background: rgba(255,255,255,0.5);
  }
}
.content--pagination_link.active{
  background: #fff;
  text-decoration: none;
  color: #000;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
